.proof:after {
    content: "\220E";
    font-size: unset; 
    font-style: normal; 
    /* font-variant: small-caps; */
    float: right;
}

.ptx-footnote__contents {
    color: black;
    font-weight: normal;
}
